body {
    background-color: black;
    font-family: 'VT323', monospace;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    cursor: url("../images/potato.png"), auto;
}

a:hover {
    cursor: url("../images/happy-potato.png"), auto;
}

main {
    flex: 1 0 auto;
  }

.title {
    width: 85%;
    margin-left: 5%;
    margin-bottom: 30px;
}

#movie-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    height: auto;
}

.movie {
    display: inline-block; 
    image-rendering: pixelated;
}

#game-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    height: auto;
  }

.game {
    display: inline-block;
  }

.item-title {
    color: white;
}

.search-button {
background-color: #2f91dd;
margin-bottom: 50px;
font-size: 24px;
}

#search-btn {
background-color: #2f91dd;
}

#input-label {
    font-size: 24px;
    margin: 5px;
}

#yt-video {
    margin-left: 10%;
}

.input-field {
    background-color: white;
}

.page-footer {
    background-color: #2f91dd;
}

.intro.animated {
      animation-duration: 7s;
      animation-delay: 1s;
      animation-iteration-count: 1;
  }

#katie {
    height: 400px;
    position: relative;
    animation-name: katie;
}

.intro {
    margin-left: 10%;
    font-size: 24px;
}

.text-block {
    background: white;
    color: black;
    border: solid 5px red;
    padding: 25px;
    margin-right: 0px;
}

#search-container {
    margin-left: 10%;
}

#movie-list {
    margin-left: 10%;
    display: none;
}

#game-list {
    margin-left: 10%;
    display: none;
}

#movie-header, #game-header {
    margin-left: 10%;
    display: none;
}

.movie {
    padding: 15px;
}

.game {
    padding: 15px;
}

/* poster corresponds to movie and cover corresponds to game */
.poster, .cover {
    width: 300px;
}

.item-title {
    font-size: 24px;
}

.carousel {
    width: 85%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 25px;
    border-top: solid 5px red;
}

.coin {
    width: 60px;
    display: inline-block;
}

.go-to-search {
    margin-left: 15%;
    margin-bottom: 25px;
}

.results {
    display: none;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
   /* border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/* Animated cat */
.banner {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    margin-left: 0px;
}

.wrapper {
    width: 100%;
    -webkit-animation: flying-cat 5s linear infinite;
    animation: flying-cat 5s linear infinite;
}

.flying-cat {
    position: absolute;
    left: -300px;
    width: 100px;
    height: 100px;
    transform: translate(0px,100px,20px);
}

@keyframes flying-cat {
    0% { transform: translate(0%, -25px) }
    100% { transform: translate(175%, 100px) }
}

footer {
    font-size: 24px;
    border-top: solid 3px red;
}

.copyright {
    margin-left: 35%;
}

/* Christina animation */
.prompt {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    margin-right: 0px;
    margin-bottom: 200px;
}

.animation-wrapper {
    width: 100%;
    -webkit-animation: christina 10s linear infinite;
    animation: christina 10s linear infinite;
}

.christina {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(0px,100px,20px);
}

@keyframes christina {
    0% { transform: translate(100%, 0px) }
    100% { transform: translate(-25%, 0px) }
}

/* Nima animation */
.nima {
    display: none;
    height: 300px;
}

.nima.animated {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

.poster.animated {
    animation-duration: 7s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

.cover.animated {
    animation-duration: 7s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

form {
    margin-left: 10%;
}
