body {
    background-color: black;
    font-family: 'VT323', monospace;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    cursor: url("../images/potato.png"), auto;
}

a:hover {
    cursor: url("../images/happy-potato.png"), auto;
}

main {
    flex: 1 0 auto;
  }

.title {
    width: 85%;
    margin-left: 5%;
    margin-bottom: 50px;
}

#movies-view {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    height: auto;
}

.movie {
    display: inline-block; 
    }

#games-view {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    height: auto;
  }

.game {
    display: inline-block;
  }

.item-title {
    color: white;
}

.search-button {
background-color: #2f91dd;
margin-bottom: 50px;
margin-left: 25%;
font-size: 24px;
}

#search-btn {
background-color: #2f91dd;
margin: 10px;
}

#input-label {
    font-size: 24px;
    margin: 5px;
}

.page-footer {
background-color: #2f91dd;
}

.animated {
      animation-duration: 7s;
      animation-delay: 1s;
      animation-iteration-count: 1;
  }

  #katie {
    /* width: 400px; */
    height: 400px;
    position: relative;
    animation-name: katie;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-left: 0px;
}
/* 
@keyframes example {
    0%   {left:0px;}
    50%  {left:200px;}
    100% {left:500px;}
} */

.intro {
    margin-left: 10%;
    font-size: 24px;
}

.text-block {
    background: white;
    color: black;
    border: solid 5px red;
    padding: 25px;
    margin-right: 0px;
}

